.contactsBlock {
    height: 100vh;
    background-color: aquamarine;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-around;
}

.form {
    height: 40%;
    width: 40%;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    height: 20%;
}

.textarea {
    height: 30%;
}

.button {
    width: 15%;
    height: 5%;
}