@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.title {
  margin: 30px auto;
  position: relative;

  h2 {
    @include text(400, 2.2em, 1.2, $titleColor);
    margin: 0;
  }

  &::after {
    content: "";
    width: 55%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background: $titleColor;
  }
}




