@import "./../common/styles/sass/variables";
@import "./../common/styles/sass/mixins";

.projectsBlock {
  @include block(100vh, $bgColor);

  .projectsContainer {
    @include container(80%, 30px auto);
    flex-direction: column;
    justify-content: center;
    //flex-wrap: wrap;

    .projects {
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 50px auto;
      @media screen and (max-width: 1129px) {
        justify-content: center;
      }
    }
  }
}