.projectsBlock {
    min-height: 100vh;
    background-color: #ff9e47;
}

.projectsContainer {
    justify-content: flex-start;

}

.title {
    margin: 50px auto;
}

.projects {
    margin: 50px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}